# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

node_modules
.env*
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# LayerZero specific files
.layerzero

# foundry test compilation files
out
broadcast

# pnpm
pnpm-error.log

# Editor and OS files
.DS_Store
.idea
